.wp-table-generator {
	width: 100%;
	overflow-x: auto;
	padding: 10px;

	.wp-table {
		width: 100%;
		border-collapse: collapse;
		text-align: left;

		th,
		td {
			border: 1px solid #ddd;
			padding: 6px;
			position: relative;
		}

		th {
			background: #f9fafb;
			font-weight: 600;
		}

		input {
			width: 100%;
			border: none;
			outline: none;
			background: transparent;
			// padding: 4px;
			font-size: 14px;

			&:focus {
				background: #eef6ff;
				border-radius: 4px;
			}
		}

		.wp-table-col-btns,
		.wp-table-row-btns {
			display: flex;
			gap: 4px;
			justify-content: center;
			background-color: transparent;
		}

		.wp-table-btn {
			
		}
	}
}
